@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(0, 0, 0);
}

.moneyBtn {
  background-color: limegreen;
  border: none;
  drop-shadow: 10px 10px 10px #777;
  
  transition: all 1.5s;
}

.moneyBtn:hover {
  scale: 1.1;
}
